.loot-info-container {
    color: #fff; /* Белый цвет текста */
    text-align: center; /* Центрирование текста */
    margin-top: 20px; /* Отступ сверху */
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
}